.body{
    background-image: url(./images/pexels-nardo-3574678\ \(5\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment:fixed ;
    border: none;
}
